{% extends "main.html.twig" %}

{% block title %}{{ parent() }} - Accueil {% endblock %}

{% block content %}
        <div class="text-center">
        <div class="col-md-offset-2" id="page-erreur-404">
            <img src="web/images/erreur.png" class="col-xs-5 col-sm-5 col-lg-6 col-xs-offset-3">

        </div>
        <h4><a href="{{accueil}}"class="text-center">Retourner à l'accueil</a></h4>
        </div>
{% endblock %}
