
{% extends "main.html.twig" %}

{% block title %}{{ parent() }} - Ajouter des photos à une série {% endblock %}

{% block content %}

    <div id="page-ajout-photos">
        <div>
            <div class="col-lg-12">
                <h1>Ajouter des photos à une série</h1>
				
				<form name = "addPhoto" role="form" action="{{root}}/photos" method="post"  enctype="multipart/form-data">	
					<fieldset>
						<legend>Administrateur</legend>
						<div>
							  <label class="col-sm-2" for="serie">Nom :</label>
							  <div class="col-sm-10">          
								<input type="text" class="col-sm-10" name='pseudo' id="admin" placeholder="entrez votre nom d'administrateur">
							  </div>
						</div>	
					</fieldset>				
					<fieldset>
						<legend>Série de la photo</legend>
						<div>
							  <label class="col-sm-2" for="serie">Série :</label>
							  <div class="col-sm-10">          
								<select name="serie" class="col-sm-10" id="serie">									
									{% for ville, series in series %}									
										<option>{{ series.ville }} <option>											   
									{% endfor %}									
								</select>
							  </div>
						</div>	
					</fieldset>
					
					<fieldset>
						<legend>Photo à ajouter</legend>
						<div>
							<label class="col-sm-2" for="Photo">Photo :</label>
							<div class="col-sm-10">
								<input type="file" name="file" id="file">
							</div>
						</div>	
					</fieldset>
				
					<fieldset>
						<legend>Coordonnées du lieu</legend>
						<div>
							  <label class="col-sm-2" for="lat">Latitude :</label>
							  <div class="col-sm-10">          
								<input type="text" name='latitude' class="col-sm-10" id="lat" placeholder="entrez la latitude du lieu">
							  </div>
						</div>
						<div>						
							  <label class="col-sm-2" for="lng">Longitude :</label>
							  <div class="col-sm-10">          
								<input type="text" name='longitude' class="col-sm-10" id="lng" placeholder="entrez la longitude du lieu">
							  </div>							  
						</div>	
					</fieldset>
					
					<div>        
						<div class="col-sm-offset-2 col-sm-10"> 
							<button type="submit">Valider</button>
						</div>
					</div>	
				</form>		
            </div>
        </div>
    </div>
	
{% endblock %}




