
{% extends "main.html.twig" %}

{% block title %}{{ parent() }} - Créer une série {% endblock %}

{% block content %}
    <div id="page-ajout-series">
        <div>
            <div class="col-lg-12">
                <h1>Ajouter une série</h1>
				
				<form role="form" action="{{root}}/series" method="post" enctype="multipart/form-data">	
					<fieldset>
						<legend>Série</legend>
						<div>
							  <label class="col-sm-2" for="serie">Ville :</label>
							  <div class="col-sm-10">          
								<input type="text" name="ville" class="col-sm-10" id="serie" placeholder="entrez la ville correspondant à la série">
							  </div>
						</div>	
					</fieldset>	
					
					<fieldset>
						<legend>Coordonnées de la ville</legend>
						<div>
							  <label class="col-sm-2" for="serie">Latitude :</label>
							  <div class="col-sm-10">          
								<input type="text" name="latitude" class="col-sm-10" id="lat" placeholder="entrez la latitude de la ville">
							  </div>
						</div>
						<div>
							  <label class="col-sm-2" for="serie">Longitude :</label>
							  <div class="col-sm-10">          
								<input type="text" name="longitude" class="col-sm-10" id="lat" placeholder="entrez la longitude de la ville">
							  </div>
						</div>						
					</fieldset>
									
					<fieldset>
						<legend>Jouer avec la série</legend>
						<div>
							  <label class="col-sm-2" for="lat">Distance :</label>
							  <div class="col-sm-10">          
								<input type="text" name="distance" class="col-sm-10" id="lat" placeholder="entrez la distance">
							  </div>
						</div>
					</fieldset>
						<fieldset>
						<legend>Image de couverture</legend>
						<div>
							  <label class="col-sm-2" for="file">Téléchargé votre image :</label>
							  <div class="col-sm-10">          
								<input type="file" name="file" class="col-sm-10" id="file">
							  </div>
						</div>
					</fieldset>
					
					<div>        
						<div class="col-sm-offset-2 col-sm-10"> 
							<button type="submit">Valider</button>
						</div>
					</div>
				</form>	
            </div>
        </div>
    </div>	
	
{% endblock %}