
{% extends "main.html.twig" %}

{% block title %}{{ parent() }} - Annonce ... {% endblock %}

{% block content %}
	<a href="../"><button>Retour</button></a>

	{% for id, annonce in annonce %}
		<h1> {{annonce.titre }} </h1> 
		<p>{{annonce.created_at}} - {{annonce.ville | upper}} {{annonce.code_postal}}</p>
		<p>{{annonce.descriptif}}</p>
		<p>{{annonce.prix}} €</p>

		<h2>Annonceur</h2>
		<p>{{annonce.prenom_a}} {{annonce.nom_a | upper}} </p>		
		<p>Tel : {{annonce.tel_a}} </p>	
		<p>Mail : {{annonce.mail_a}} </p>			
	{% endfor %}
	
{% endblock %}