{% extends "main.html.twig" %}

{% block title %}{{ parent() }} - Accueil {% endblock %}

{% block content %}
    {{root}}
    <div id="page-accueil">
	    <div>
			<div class="col-lg-12 ">
				<h2>Bienvenue {{utilisateur}} !</h2>
        <h1></h1>
        <div class="col-md-6 col-md-offset-2 col-lg-9">
          <div class="col-xs-6 col-md-5 col-lg-6">
            <a href="{{photos}}"><img src="web/images/add-image.png" class="col-xs-12 col-lg-5" class=""></a>
            <h2><small><a href="{{photos}}">Ajouter un photo</a></small></h2>
          </div>
          <div class="col-xs-6 col-md-5 col-lg-6">
            <a href="{{series}}"><img src="web/images/add-serie.png" class="col-xs-12 col-lg-5"></a>
            <h2><small><a href="{{series}}">Ajouter une série</a></small></h2>
          </div>
        </div>
				<div class="col-sm-3"></div>

			</div>
		</div>
    </div>

{% endblock %}
