<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{root}}/web/sass/stylesheets/styles.css" />
	<title>{% block title %}PhotoLocate - Administration {% endblock %}</title>
</head>
<body>
    <!-- header -->
    <nav role="navigation">
        <div>
            <div>
                <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span>Toggle navigation</span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
				
				<div class="col-xs-8">
					<a href="{{root}}/">
	                    <img src="{{root}}/web/images/logo.png" alt="logo" class="col-xs-8 col-md-5">
	                </a>
				</div>
            </div>
            <div id="bs-example-navbar-collapse-1">
                <ul >
					<li>
						<a href="{{accueil.href}}" >{{accueil.name}}</a> <!--route du post series/photos ds index de l'admin-->
					</li>
                    <li>
                        <a href="{{link.href}}" >{{link.name}}</a> <!--route du post series/photos ds index de l'admin-->
                    </li>
                </ul>
            </div>
        </div>
    </nav>
	<div>
	<div id="content">
		{% block content %}

		{% endblock %}
	</div>

		<hr class="col-sm-12">
		<footer>
			<p class="col-sm-12">Tous droits réservés PhotoLocate (c) 2016</p>
		</footer>
	</div>
	<!-- jQuery -->
    <script src="{{root}}/web/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{root}}/web/sass/javascripts/bootstrap.min.js"></script>
</body>
</html>
