
{% extends "main.html.twig" %}

{% block title %}{{ parent() }} - Accueil {% endblock %}

{% block content %}
    {{root}}
    <div id="page-accueil">
	    <div>
			<div class="col-lg-12">
				<h1>Administration PhotoLocate</h1>

				<form class="col-sm-6 col-sm-offset-3" role="form" action="" method="post">
					<fieldset>
						<legend>Connexion</legend>
						<div>
							  <label class="col-sm-2" for="pseudo">Pseudo:</label>
							  <div class="col-sm-10">
								<input type="text" class="col-sm-10" id="pseudo" placeholder="entrez votre pseudo" name="pseudo" required>
							  </div>
						</div>
						<div>
							  <label class="col-sm-2" for="mdp">Mot de passe:</label>
							  <div class="col-sm-10">
								<input type="password" class="col-sm-10" id="mdp" placeholder="entrez votre mot de passe" name="pass_adm" required>
							  </div>
						</div>
					</fieldset>

					<div>
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit">Connexion</button>
						</div>
					</div>
          <h5>{{message}}</h5>
				</form>


				<div class="col-sm-3"></div>

				<a class="col-sm-6 col-sm-offset-3" href='{{signin.href}}'><p class="col-sm-offset-2 col-sm-10">{{signin.name}}</p></a>
			</div>
		</div>
    </div>

{% endblock %}
