// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

div#map {
	height: 420px;
}
body>div:first-child {
	background-color: #222;
}
body>div:nth-child(2) {
	margin-top: 20px;
}
header, body>div:nth-child(2) {
	@extend .container;
}
header>div, div#page-accueil-index, div#page-choix-ville, hr, footer, div#page-jeu-photolocate>div:nth-child(4) {
	@extend .row;
}
div#page-accueil-index>form>div {
	@extend .form-group;
}
div#page-accueil-index>form>div>input {
	@extend .form-control;
}
div#page-accueil-index>form>input, div#page-jeu-photolocate #nextImage button {
	@extend .btn;
	@extend .btn-default;
}
div#page-choix-ville img {
	@extend .img-thumbnail;
	@extend .img-responsive;
}
div#page-jeu-photolocate img {
	margin-top: 40px;
}
div#page-jeu-photolocate #nextImage {
	text-align: right;
	margin-top: 20px;
}
#add-score {
	pointer: cursor;
}

/*--------------- Fenetre modale -----------------*/
.popup_block{
	display: none; 
	background-color:white;
	padding: 20px;
	float: left;
	position: fixed;
	top: 53%; 
	left: 50.8%; 
	z-index: 99999;
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
}

#popup.popup_block{
	width: auto !important; 
	height:auto !important;
}

img.btn_close {
	float: right;
	margin: -30px -30px 0 0;
}

#fade { 
	display: none;
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}

#popup{
	@extend .text-center;
}

#popup img{
	margin-left:1.5%;
}
.none {
	display: none;
}
