// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

//@import "compass";

body>div:nth-child(2) {
	@extend .container;
}

nav{
	@extend .navbar ;
	@extend .navbar-inverse;
	@extend .navbar-fixed-top;
}

nav>div:first-of-type{
	@extend	.container;
}

nav>div:first-of-type+div{
	@extend .navbar-header;
}

nav>div>div>button{
	@extend .navbar-toggle;
}

nav>div>div>button>span:first-of-type{
	@extend .sr-only;
}

nav>div>div>button>span:nth-of-type(2),nav>div>div>button>span:nth-of-type(3),nav>div>div>button>span:nth-of-type(4){
	@extend .icon-bar;
}

nav>div>div>a{
	@extend .navbar-brand;
}

nav>div>div:nth-of-type(2){
	@extend .collapse;
	@extend .navbar-collapse;
}

nav>div>div:nth-of-type(2)>ul{
	@extend .nav;
	@extend .navbar-nav;
}

hr, footer{
	@extend .row;
}

hr+div{
	@extend .container;
}

/*------------------- Pages ajout photos à série / ajout séries / index ---------------*/

#page-ajout-photos, #page-ajout-series, #page-accueil, #page-erreur-404{
	@extend .container;
	padding-top: 50px;
}

#page-ajout-photos+div:first-of-type, #page-ajout-series+div:first-of-type, #page-accueil+div:first-of-type{
	@extend .row;
}

#page-ajout-photos input[type="file"]{
	display:inline;
	margin-right:2%;
}

#page-ajout-photos>div>div>form, #page-ajout-series>div>div>form, #page-accueil>div>div>form{
	@extend .form-horizontal;
	@extend .well;
}

#page-ajout-photos>div>div>form>fieldset>div, #page-ajout-photos>div>div>form>fieldset:last-of-type+div, #page-ajout-series>div>div>form>fieldset>div, #page-ajout-series>div>div>form>fieldset:last-of-type+div, #page-accueil>div>div>form>fieldset>div, #page-accueil>div>div>form>fieldset:last-of-type+div{
	@extend .form-group;
}

#page-ajout-photos>div>div>form>fieldset>div>label, #page-ajout-series>div>div>form>fieldset>div>label, #page-accueil>div>div>form>fieldset>div>label{
	@extend .control-label;
}

#page-ajout-photos>div>div>form>fieldset>div>div>select, #page-ajout-photos>div>div>form>fieldset>div>div>input[type="text"], #page-ajout-series>div>div>form>fieldset>div>div>input[type="text"], #page-accueil>div>div>form>fieldset>div>div>input[type="text"], #page-accueil>div>div>form>fieldset>div>div>input[type="password"]  {
	@extend .form-control;
}

#page-ajout-photos button, #page-ajout-series button, #page-accueil button{
	@extend	.btn;
	@extend	.btn-default;
}




